* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

a {
    color: black;
    outline: none;
    text-decoration: none;
}

.header {
    padding: 1.666vw 2.777vw 2.222vw;
    display: flex;
    flex-direction: column;
    gap: 1.666vw;
}

.stroke_1 {
    display: flex;
    flex-direction: row;
}

.header .logo {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.header .logo_text1 {
    color: #B17955;
}

.header .logo h1 {
    font-weight: 600;
    font-size: 1.7vw;
}

.header .logo img {
    width: 2.1vw;
    height: 2.1vw;
}

.header .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.5vw;

    margin-left: auto;
}

.header .address {
    text-align: right;
    font-size: 0.7vw;
    font-weight: 500;
}

.header .address_1 {
    margin-bottom: 0.1vw;
}

.header .phone {
    text-align: right;
}

.header .phone h4 {
    margin-bottom: 0.1vw;
    font-size: 0.85vw;
    font-weight: 600;
}

.header .phone p {
    color: #878B90;
    font-size: 0.74vw;
    font-weight: 500;
}

.header .info_2 {
    display: flex;
    flex-direction: row;
    gap: 2vw;

}

.header .time h4 {
    margin-bottom: 0.1vw;
    font-size: 0.85vw;
    font-weight: 500;
}

.header .time p {
    font-size: 0.74vw;
    font-weight: 500;
}

.header .fa-heart {
    font-size: 1.3vw;
    transition: all 0s ease-in-out;
    cursor: pointer;
    color: black;
}

.header .fa-heart:hover {
    color: #B17955;
}

.header .info .fa-bars {
    display: none;
}

.stroke_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 2.7vw;
}

.nav .fa-bars {
    font-size: 1.5vw;
    cursor: pointer;
}

.nav a {
    font-size: 0.85vw;
    font-weight: 500;
    color: black;

    transition: all 0s ease-in-out;
}

.nav a:hover {
    color: #B17955;
}

.nav .telegram {
    display: flex;
    flex-direction: row;
    gap: 0.7vw;

    cursor: pointer;
    margin-right: 0.7vw;

}

.nav .telegram img {
    width: 1.2vw;
    height: 1.2vw;
}

.nav .telegram:hover a {
    color: #B17955;
}

.header .buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 0.7vw;
}

.header button {
    position: relative;
    display: flex;
    padding: 0.55vw 1vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    background-color: transparent;
    border-radius: 0.5vw;
    border: 0.07vw solid rgba(135, 139, 144, 0.50);

    font-size: 0.7vw;
    font-weight: 500;
    font-family: Montserrat;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.header button img {
    display: block;
}

.header .project img {
    width: 1.2vw;
}

.header .call img {
    width: 1vw;
}

.header button .cubes_white:nth-of-type(2) {
    display: none;
}

.header button:hover {
    background-color: #b17855ce;
    color: white;
}

.header button:hover .cubes:nth-of-type(1) {
    display: none;
}

.header button:hover .cubes_white:nth-of-type(2) {
    display: flex;
}


.header button .ruler_white:nth-of-type(2) {
    display: none;
}

.header button:hover .ruler:nth-of-type(1) {
    display: none;
}

.header button:hover .ruler_white:nth-of-type(2) {
    display: flex;
}


/* banner */

.banner {
    width: 100%;
    background-color: #B17955;

    display: flex;
    flex-direction: row;
    gap: 3.5vw;
}

.banner img {
    width: 60.4vw;
    height: 100%;
}


.banner .banner_text {
    color: white;
}

.banner .banner_text h3 {
    font-size: 2.1vw;
    font-weight: 500;

    margin-top: 11vw;
}

.banner .banner_text h1 {
    font-size: 8vw;
    font-weight: 800;
}

.banner .banner_text h4 {
    font-size: 1.3vw;
    font-weight: 400;

    margin-bottom: 3.3vw;
}

.banner .banner_text button {
    display: inline-flex;
    padding: 0.7vw 2vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    color: white;
    font-family: Montserrat;
    font-size: 1vw;
    font-weight: 500;

    border: none;
    border-radius: 0.5vw;
    background-color: rgba(255, 255, 255, 0.20);

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.banner .banner_text button:hover {
    background-color: white;
    color: #B17955;
    font-weight: 600;
}


/* catalog */

.catalog {
    padding-bottom: 6.9vw;
}

.catalog h2 {
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    margin-top: 6vw;
}

.catalog h3 {
    font-size: 1.6vw;
    font-weight: 600;
}

.catalog p {
    font-size: 0.8vw;
    font-weight: 500;
    color: #878B90;
}

.card_1, .card_2, .card_3, .card_4 {
    background-color: white;
    position: relative;
}

.catalog .cards {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    flex-wrap: wrap;

    margin-top: 4vw;
}

.catalog .stroke_1, .stroke_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 4vw;
}

.catalog .cards img {
    width: 45vw;
}

.catalog .arrow_1 {
    width: 3.5vw;
    height: 3.5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 0 0.5vw 0.5vw 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    padding: 0.5vw;

    position: absolute;
    top: 12.5vw;
    left: 0;
    right: auto;
    bottom: auto;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.catalog .arrow_1:hover {
    background-color: white;
    backdrop-filter: none;
}

.catalog .arrow_2 {
    width: 3.5vw;
    height: 3.5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 0 0.5vw 0.5vw 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    padding: 0.5vw;

    position: absolute;
    top: 12.5vw;
    left: auto;
    right: 0;
    bottom: auto;

    transform: rotate(180deg);
    cursor: pointer;
    transition: all 0s ease-in-out;
}

.catalog .arrow_2:hover {
    background-color: white;
    backdrop-filter: none;
}

.catalog .buttons .button_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9vw;

    font-family: Montserrat;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(10px);
    border: none;

    position: absolute;
    top: 25vw;
    left: 1vw;
    right: auto;
    bottom: auto;

    padding: 0.5vw 1vw;
    transition: all 0s ease-in-out;
    cursor: pointer;
}

.catalog .buttons .button_1:hover {
    background-color: white;
    backdrop-filter: none;
}

.catalog .buttons .button_2 {
    align-items: center;

    font-family: Montserrat;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5vw;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(10px);
    border: none;

    position: absolute;
    top: 25vw;
    left: 11.5vw;
    right: auto;
    bottom: auto;

    padding: 0.6vw 0.65vw;
    transition: all 0s ease-in-out;
    cursor: pointer;
}

.catalog .buttons .button_2:hover {
    background-color: white;
    backdrop-filter: none;
}

.catalog .button_2 .fa-heart {
    font-size: 1.3vw;
}

.catalog .buttons .youtube {
    width: 1.5vw;
}


.catalog .cards .text {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw 1.3vw;
}

.catalog .discription {
    display: flex;
    flex-direction: row;
    gap: 1.3vw;
}

.catalog .discription img {
    width: 1vw;
    margin-left: -0.7vw;
    cursor: pointer;
}

.catalog .price {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
}

.catalog .price .cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.catalog .price p {
    text-decoration: line-through;

}

.catalog .price button {
    margin-left: auto;

    display: flex;
    padding: 0.7vw 1.8vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    border: none;
    border-radius: 0.5vw;
    background: #B17955;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 0.8vw;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.catalog .price button:hover {
    background-color: rgba(177, 121, 85, 0.90);
}

.catalog .price a {
    margin-left: auto;
}


.catalog .look_all {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 0.7vw 1.8vw;

    border: none;
    border-radius: 0.5vw;
    background: #B17955;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1vw;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.catalog .look_all:hover {
    background-color: rgba(177, 121, 85, 0.90);
}


/* footer */

.footer {
    width: 100%;
    background-color: #2E2E2E;
    color: white;

    padding: 4vw 2.7vw 2vw;
}

.footer .f_nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 13vw;

    margin-bottom: 6vw;
}

.footer .style, .front, .form, .color, .size {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer h4 {
    font-size: 1vw;
    font-weight: 600;
}

.footer .links {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}

.footer .links a {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;

    font-size: 0.8vw;
    font-weight: 400;
    color: white;
}

.footer .links a:hover {
    color: #B17955;
}

.footer .links .white {
    color: white;
}

.footer .links .gray {
    color: #D9D9D9;
}

.footer .links .cappuccino {
    color: #8E6148;
}

.footer .links .beige {
    color: #D6C4A3;
}

.footer .links .olive {
    color: #9A967B;
}

.footer .links .brown {
    color: #643120;
}


.footer .f_info {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.footer hr {
    display: none;
}

.footer .f_info hr {
    display: block;
    width: 100%;
    height: 0.1vw;
    background-color: rgba(255, 255, 255, 0.20);
    border: none;
}

.footer .f_main {
    display: flex;
    flex-direction: row;
    gap: 14vw;
}

.footer .logo_and_links {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.footer .logo {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.footer .logo_text1 {
    color: #B17955;
}

.footer .logo h1 {
    font-weight: 600;
    font-size: 1.7vw;
}

.footer .logo img {
    width: 2.1vw;
    height: 2.1vw;
}

.footer .logo_text2 {
    color: white;
}

.footer .logo_text3 {
    color: white;
}

.footer .f_info_links {
    display: flex;
    flex-direction: row;
    gap: 2.7vw;
}

.footer .f_info_links a {
    color: white;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 400;
}

.footer .f_info_links a:hover {
    color: #B17955;
}

.footer .networks {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.footer .networks img {
    width: 2vw;
    height: 2vw;
}



.footer .f_oter_info {
    margin-left: auto;

    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.footer .text {
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
}

.footer .address {
    text-align: right;
    font-size: 0.7vw;
    font-weight: 400;
}

.footer .address_1 {
    margin-bottom: 0.1vw;
}

.footer .phone {
    text-align: right;
}

.footer .phone h4 {
    margin-bottom: 0.1vw;
    font-size: 0.85vw;
    font-weight: 500;
}

.footer .phone p {
    font-size: 0.74vw;
    font-weight: 400;
}

.footer .phone a {
    color: #878B90;
}

.footer .f_oter_info_2 {
    display: flex;
    flex-direction: row;
    gap: 2vw;

}

.footer .time h4 {
    margin-bottom: 0.1vw;
    font-size: 0.85vw;
    font-weight: 500;
}

.footer .time p {
    font-size: 0.74vw;
    font-weight: 400;
}



.footer .buttons {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 0.7vw;
}

.footer button {
    position: relative;
    display: flex;
    padding: 0.55vw 1vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    background-color: white;
    border-radius: 0.5vw;
    border: 0.07vw solid rgba(135, 139, 144, 0.50);

    font-size: 0.7vw;
    font-weight: 600;
    font-family: Montserrat;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.footer button img {
    display: block;
}

.footer .project img {
    width: 1.2vw;
}

.footer .call img {
    width: 1vw;
}

.footer button .cubes_white:nth-of-type(2) {
    display: none;
}

.footer button:hover {
    background-color: #b17855ce;
    color: white;
}

.footer button:hover .cubes:nth-of-type(1) {
    display: none;
}

.footer button:hover .cubes_white:nth-of-type(2) {
    display: flex;
}


.footer button .ruler_white:nth-of-type(2) {
    display: none;
}

.footer button:hover .ruler:nth-of-type(1) {
    display: none;
}

.footer button:hover .ruler_white:nth-of-type(2) {
    display: flex;
}


.footer .f_discription {
    margin-top: 2vw;

    color: #878B90;
    font-size: 0.8vw;
    font-weight: 500;
}






/* catalog.html */

.main {
    padding: 2.7vw 2.7vw 0;
    background-color: #F4F3F1;
}

.main .ways {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    font-size: 0.8vw;
    font-weight: 500;
}

.main .ways .main_page {
    color: #878B90;
}

.main .ways p {
    color: #878B90;
}

.main .ways_catalog {
    font-weight: 600;
}

.main .catalog_title {
    font-size: 2vw;
    font-weight: 600;

    margin: 1.5vw 0 2.5vw 0;
}


.main .catalog_buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.main .catalog_buttons button {
    padding: 0.7vw 1.4vw 0.7vw 1.4vw;
    border-radius: 0.5vw;
    background-color: #FFF;
    border: none;

    font-family: Montserrat;
    font-size: 0.8vw;
    font-weight: 500;

    cursor: pointer;
}

.main .catalog_buttons button:hover {
    background-color: #B17955;
    color: white;
}

.catalog_filter {
    display: flex;
    flex-direction: row;
}

.catalog_filter select {
    background-color: transparent;
    border: none;

    font-family: Montserrat;
    font-size: 0.8vw;
    font-weight: 500;

    margin-left: auto;
}

.catalog_filter select option {
    font-family: Montserrat;
    font-size: 0.8vw;
    font-weight: 500;

    background-color: transparent;
}


.catalog .look_more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;

    padding: 0.7vw 2.2vw;

    border: none;
    border-radius: 0.5vw;
    background: #B17955;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1vw;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.catalog .look_more:hover {
    background-color: rgba(177, 121, 85, 0.90);
}


.catalog .numbers_pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
}

.catalog .numbers_pages h4 {
    display: flex;
    justify-content: center;

    width: 3vw;
    height: 3vw;

    text-align: center;
    align-items: center;

    font-size: 1.2vw;
    font-weight: 600;

    cursor: pointer;
}

.catalog .numbers_pages .opened_page {
    background-color: white;
    border-radius: 0.5vw;
}

.catalog .numbers_pages .pages_arrow {
    width: 3vw;
    height: 3vw;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;

    transform: rotate(180deg);
    cursor: pointer;
    transition: all 0s ease-in-out;
}

.catalog .numbers_pages .pages_arrow:hover {
    color: #000000ce;
}



/* matteo */

.main_matteo {
    padding-top: 2.7vw;
    background-color: #F4F3F1;
}

.main_matteo .matteo_ways {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    margin-left: 2.7vw;

    font-size: 0.8vw;
    font-weight: 500;
}

.main_matteo .matteo_ways a {
    color: #878B90;
    font-size: 0.8vw;
    font-weight: 500;
}

.main_matteo .matteo_ways p {
    color: #878B90;
}

.main_matteo .matteo_ways .ways_card {
    color: black;
    font-weight: 600;
}



.product_view {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 2.7vw;
}

.product_view .product_img {
    position: relative;
}

.product_view .product_img .main_img {
    width: 60.4vw;

}

.product_view .product_img .main_img_rect {
    width: 60.4vw;
    height: 5vw;

    position: absolute;
    top: 35.27vw;
    bottom: auto;
    left: auto;
    right: auto;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
}


.product_view .product_img .other_img {
    width: 60.4vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    position: absolute;
    top: 36.3vw;
    bottom: auto;
    left: auto;
    right: auto;
}

.product_view .product_img .other_img img {
    width: 5vw;
    cursor: pointer;
}


.product_view .product_img .arrow_1 {
    width: 3.5vw;
    height: 3.5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 0 0.5vw 0.5vw 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    padding: 0.5vw;

    position: absolute;
    top: 18.5vw;
    left: 0;
    right: auto;
    bottom: auto;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.product_view .product_img .arrow_1:hover {
    background-color: white;
    backdrop-filter: none;
}

.product_view .product_img .arrow_2 {
    width: 3.5vw;
    height: 3.5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 0 0.5vw 0.5vw 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    padding: 0.5vw;

    position: absolute;
    top: 18.5vw;
    left: auto;
    right: 0;
    bottom: auto;

    transform: rotate(180deg);
    cursor: pointer;
    transition: all 0s ease-in-out;
}

.product_view .product_img .arrow_2:hover {
    background-color: white;
    backdrop-filter: none;
}


.product_view .product_info {
    width: 34vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;

    padding: 4vw;
    background-color: white;
}

.product_view .product_info h2 {
    font-size: 2vw;
    font-weight: 600;
}

.product_view .product_info .product_info_discr {
    display: flex;
    flex-direction: row;
    gap: 1.2vw;
}

.product_view .product_info .discr_sectins {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    color: #878B90;
    font-size: 0.9vw;
    font-weight: 400;
}

.product_view .product_info .discr_data {
    display: flex;
    flex-direction: column;
    gap: 1vw;

    color: #000000;
    font-size: 0.9vw;
    font-weight: 500;
}

.product_view .product_info .product_info_price {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1vw;
}

.product_view .product_info .product_info_price h2 {
    font-size: 2vw;
    font-weight: 600;
}

.product_view .product_info .product_info_price h3 {
    font-size: 1.3vw;
    font-weight: 500;
    color: #878B90;
    text-decoration: line-through;
}

.product_view .product_info button {
    display: flex;
    padding: 0.9vw 1.8vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    border: none;
    border-radius: 0.5vw;
    background: #B17955;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.1vw;

    cursor: pointer;
    transition: all 0s ease-in-out;
}

.product_view .product_info button:hover {
    background-color: rgba(177, 121, 85, 0.90);
}


.product_view .product_info .product_info_favourits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6vw;

    cursor: pointer;
}

.product_view .product_info .product_info_favourits .fa-heart {
    font-size: 1.5vw;
    transition: all 0s ease-in-out;
    cursor: pointer;
    color: black;
}

.product_view .product_info .product_info_favourits .fa-heart:hover {
    color: #B17955;
}

.product_view .product_info .product_info_favourits p {
    font-size: 1vw;
    font-weight: 500;
}

.product_view .product_info .product_info_note {
    font-size: 0.9vw;
    font-weight: 500;
    color: #878B90;
}


.product_discription {
    width: 60.4vw;

    display: flex;
    flex-direction: column;
    gap: 1.5vw;

    margin-left: 2.7vw;
    padding: 3.5vw;

    background-color: white;
}

.product_discription h3 {
    font-size: 1.5vw;
    font-weight: 600;
}

.product_discription p {
    font-size: 1vw;
    font-weight: 500;
    line-height: 150%;
}



.product_appeal {
    width: 100%;

    margin: 6.9vw 0vw 0;
    padding: 6vw 1vw 6.9vw 2.7vw;

    background-color: white;
}

.product_appeal h2 {
    font-size: 2vw;
    font-weight: 600;

    margin-bottom: 4vw;
}

.product_appeal .product_appeal_main {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.product_appeal video {
    width: 42vw;
}

.product_appeal .product_appeal_subscribe h3 {
    font-size: 1.5vw;
    font-weight: 600;

    margin-bottom: 1vw;
}

.product_appeal .product_appeal_subscribe p {
    font-size: 1vw;
    font-weight: 500;

    line-height: 150%;
}


.product_appeal .product_appeal_subscribe .sub_input .form-group label {
    display: block;
    color: #878B90;

    font-size: 0.9vw;
    margin-bottom: 0.5vw;
}

.product_appeal .product_appeal_subscribe .sub_input .form-group input, .form-group textarea {
    margin-bottom: 1%;
    width: 21vw;
    box-sizing: border-box;
    border: none;
    background: transparent;
    padding: 0.3vw 0;

    font-family: Montserrat;
    border-bottom: 0.1vw solid rgba(135, 139, 144, 0.50);
    outline: none;
}

.product_appeal .product_appeal_subscribe .sub_input {
    display: flex;
    flex-direction: row;
    gap: 2.7vw;

    margin: 2.7vw 0;
}

.product_appeal .product_appeal_subscribe .sub_input input {
    font-size: 1vw;
    font-weight: 500;
}

.product_appeal .product_appeal_subscribe .sub_input input::placeholder {
    font-size: 1vw;
    font-weight: 500;
}

.product_appeal .product_appeal_subscribe .sub_input .sub_name::placeholder {
    font-size: 1vw;
    font-weight: 500;
    color: #000000;
}


.product_appeal .product_appeal_subscribe button {
    display: flex;
    padding: 0.8vw 2.3vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    border: none;
    border-radius: 0.5vw;
    background: #B17955;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.1vw;

    cursor: pointer;
    transition: all 0s ease-in-out;

    margin-bottom: 1.5vw;
}

.product_appeal .product_appeal_subscribe button:hover {
    background-color: rgba(177, 121, 85, 0.90);
}

.product_appeal .product_appeal_subscribe .sub_note {
    color: #878B90;
    font-size: 0.7vw;
    font-weight: 500;
}


.product_appeal .product_appeal_networks {
    display: flex;
    flex-direction: row;
    gap: 4vw;

    margin-top: 2.7vw;
}

.product_appeal .product_appeal_networks i {
    margin-left: 0.8vw;
}

.product_appeal .product_appeal_networks .pr_telegram:hover i {
    margin-left: 1vw;
}

.product_appeal .product_appeal_networks .pr_youtube:hover i {
    margin-left: 1vw;
}

.product_appeal .product_appeal_networks .pr_telegram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 2vw;

    width: 44vw;
    height: 11vw;
    background-color: #F4F3F1;
    padding: 3vw 1.3vw 0 2.7vw;

    border-radius: 0.5vw;
}

.product_appeal .product_appeal_networks .pr_telegram img {
    width: 4vw;
    height: 4vw;
}

.product_appeal .product_appeal_networks .pr_youtube {
    display: flex;
    flex-direction: row;
    gap: 2vw;

    width: 44vw;
    height: 11vw;
    background-color: #F4F3F1;
    padding: 4vw 1.3vw 0 2.7vw;

    border-radius: 0.5vw;
}

.product_appeal .product_appeal_networks .pr_youtube img {
    width: 4vw;
    height: 3vw;
}


.product_appeal .product_appeal_networks .product_appeal_networks_text h4 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 1vw;
}

.product_appeal .product_appeal_networks .product_appeal_networks_text p {
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 150%;
}





/* 375px */

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    .header .logo img {
        width: 11vw;
        height: 11vw;
    }

    .header .logo .logo_text1 {
        display: none;
    }

    .header .logo .logo_text2 {
        display: none;
    }

    .header .logo .logo_text3 {
        display: none;
    }

    .header .info {
        margin-left: 15vw;
    }

    .header .info .address {
        display: none;
    }

    .header .info_2 .phone h4 {
        font-size: 3.8vw;
    }

    .header .info_2 .phone p {
        display: none;
    }

    .header .info_2 .time {
        display: none;
    }

    .header .info .fa-heart {
        font-size: 6.4vw;
        margin-left: 10vw;
    }

    .header .info .fa-bars {
        display: block;
        font-size: 6.4vw;
        margin-left: 6.4vw;
    }

    .header .nav {
        display: none;
    }

    .header .buttons {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;

        gap: 2vw;

        margin: 0;
    }

    .header .buttons button {
        font-size: 3.3vw;
        gap: 2vw;

        padding: 2vw 3.5vw;
        border-radius: 2vw;

        margin: 1.5vw 0 3.5vw;
    }

    .header .buttons img {
        width: 5vw;
        height: 5.3vw;
    }



    .banner {
        width: 100%;
        background-color: #B17955;

        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .banner img {
        width: 100%;
    }

    .banner .banner_text {
        padding-left: 5.5vw;
        display: flex;
        flex-direction: row;
    }

    .banner .banner_text h3 {
        margin-top: 2vw;
        font-size: 3.8vw;
    }

    .banner .banner_text h1 {
        margin-top: 0;
        font-size: 15vw;
    }

    .banner .banner_text h4 {
        margin-top: 0;
        font-size: 2.5vw;
    }

    .banner .banner_text button {


        padding: 3vw 5.6vw;
        gap: 1vw;

        font-size: 4.4vw;

        border: none;
        border-radius: 2vw;
    }

    .banner .banner_text a {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }


    .main {
        padding: 0 5.5vw;
    }

    .catalog h2 {
        margin-top: 0;
        margin-bottom: 11vw;
        padding-top: 16vw;
        font-size: 6.5vw;
    }

    .catalog h3 {
        font-size: 5vw;
        font-weight: 600;
    }

    .catalog p {
        font-size: 2.9vw;
    }

    .catalog .cards {
        display: flex;
        flex-direction: column;
        gap: 11vw;
        flex-wrap: wrap;

        margin-top: 4vw;
    }

    .catalog .stroke_1, .stroke_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 11vw;
    }

    .catalog .cards img {
        width: 100%;
    }

    .catalog .arrow_1 {
        width: 12vw;
        height: 12vw;
        font-size: 9vw;
        border-radius: 0 2vw 2vw 0;
        padding: 0.5vw;
        top: 21vw;
    }

    .catalog .arrow_2 {
        width: 12vw;
        height: 12vw;
        font-size: 9vw;
        border-radius: 0 2vw 2vw 0;
        padding: 0.5vw;
        top: 21vw;
    }

    .catalog .arrow_2:hover {
        background-color: white;
        backdrop-filter: none;
    }

    .catalog .buttons .button_1 {
        gap: 2vw;
        font-size: 3.3vw;
        border-radius: 2vw;
        top: 45vw;
        left: 1.6vw;
        padding: 1.6vw 3.3vw;
    }

    .catalog .buttons .button_1:hover {
        background-color: white;
        backdrop-filter: none;
    }

    .catalog .buttons .button_2 {
        border-radius: 2vw;
        top: 45vw;
        left: 40vw;
        padding: 1.6vw;
    }

    .catalog .button_2 .fa-heart {
        font-size: 5.5vw;
    }

    .catalog .buttons .youtube {
        width: 6vw;
    }

    .catalog .cards .text {
        display: flex;
        flex-direction: column;
        gap: 4.4vw;
        padding: 6vw;
    }

    .catalog .discription {
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.5vw;
    }

    .catalog .discription img {
        width: 2vw;
        height: 2vw;
        margin-left: -1vw;
        cursor: pointer;
    }

    .catalog .price {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        gap: 1vw;
    }

    .catalog .price .cost {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4vw;
    }

    .catalog .price button {
        margin: 0;
        width: 100%;
        padding: 2.5vw 6.5vw;
        gap: 1vw;

        border-radius: 2vw;
        font-size: 3.8vw;

        margin-top: 4.4vw;
    }

    .catalog .price a {
        width: 100%;
        margin: 0;
    }

    .catalog .look_all {
        padding: 3vw 7vw;
        border-radius: 2vw;
        font-size: 3.8vw;
    }



    /* footer */

    .footer {
        padding: 15vw 5.5vw 12vw;
    }

    .footer .f_nav {
        display: flex;
        flex-direction: column;
        gap: 5vw;

        margin-bottom: 6vw;
    }

    .footer .f_nav .links {
        display: none;
    }

    .footer .style, .front, .form, .color, .size {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }

    .footer h4 {
        font-size: 5vw;
    }

    .footer .links {
        display: flex;
        flex-direction: column;
        gap: 0.7vw;
    }

    .footer .links a {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;

        font-size: 0.8vw;
        font-weight: 400;
        color: white;
    }

    .footer .f_info {
        display: flex;
        flex-direction: column;
        gap: 15vw;
    }

    .footer .f_main {
        display: flex;
        flex-direction: column;
        gap: 10vw;
    }

    .footer .logo_and_links {
        display: flex;
        flex-direction: column;
        gap: 7vw;
    }

    .footer .logo {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }

    .footer .logo h1 {
        font-weight: 600;
        font-size: 5.7vw;
    }

    .footer .logo img {
        width: 7vw;
        height: 7vw;
    }

    .footer .logo_text2 {
        color: white;
    }

    .footer .logo_text3 {
        color: white;
    }

    .footer .f_info_links {
        display: flex;
        flex-direction: row;
        gap: 5.8vw;
    }

    .footer .f_info_links a {
        color: white;
        font-size: 3.8vw;
        font-style: normal;
        font-weight: 400;
    }

    .footer .networks {
        display: none;
    }


    .footer .networks img {
        width: 7vw;
        height: 7vw;
    }


    .footer .f_oter_info { 
        margin: 0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 2vw;
    }
    
    .footer .text {
        display: flex;
        flex-direction: column;
        gap: 3.5vw;
    }
    
    .footer .address {
        text-align: center;
        font-size: 3.8vw;
        font-weight: 400;
        margin-bottom: 5vw;
    }
    
    .footer .address_1 {
        margin-bottom: 1vw;
    }
    
    .footer .phone {
        text-align: right;
    }
    
    .footer .phone h4 {
        font-size: 4.4vw;
    }
    
    .footer .phone p {
        font-size: 3.8vw;
    }
    
    .footer .f_oter_info_2 {
        display: flex;
        flex-direction: row;
        gap: 10vw;
        margin-bottom: 11vw;
    }
    
    .footer .time h4 {
        margin-bottom: 1vw;
        font-size: 4.4vw;
    }
    
    .footer .time p {
        font-size: 3.8vw;
    }
    
    .footer .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.6vw;
    }
    
    .footer .buttons button {
        width: 100%;
        padding: 3vw 1vw;
        justify-content: center;
        align-items: center;
        gap: 4.4vw;
        border-radius: 2vw;
        font-size: 3.8vw;
    }
    
    .footer .project img {
        width: 5.5vw;
    }
    
    .footer .call img {
        width: 5vw;
    }
    
    
    .footer .f_discription {
        margin-top: 2vw;
        font-size: 2.5vw;
        font-weight: 500;
        line-height: 150%;
    }




    /* catalog.html  */

    .main {
        padding: 11vw 5.5vw 0;
        background-color: #F4F3F1;
    }
    
    .main .ways {
        display: flex;
        flex-direction: row;
        gap: 4vw;
    
        font-size: 3.8vw;
        font-weight: 500;
    }
    
    .main .catalog_title {
        font-size: 6.6vw;
        margin: 5.5vw 0 8.8vw 0;
    }

    .main .catalog_buttons {
        flex-wrap: wrap;
        gap: 4.4vw;
    }
    
    .main .catalog_buttons button {
        width: 25vw;
        padding: 2.7vw 5.5vw;
        border-radius: 2vw;
        font-size: 3.8vw;
    }
    
    .main .catalog_buttons button:hover {
        background-color: #B17955;
        color: white;
    }
    
    .catalog_filter {
        display: flex;
        flex-direction: column;
        gap: 6.6vw;
    }
    
    .catalog_filter select {
        width: 50vw;
        font-size: 3.8vw;
        margin-left: 0;
    }
    
    .catalog_filter select option {
        font-size: 3.8vw;
    }
    
    
    .catalog .look_more {
        margin-bottom: 11vw;
        padding: 3vw 7vw;
        border-radius: 2vw;
        font-size: 4.4vw;
    
        cursor: pointer;
        transition: all 0s ease-in-out;
    }

    .catalog .numbers_pages {
        gap: 6vw;
    }
    
    .catalog .numbers_pages h4 {
        width: 13vw;
        height: 13vw;
    
        font-size: 5vw;
    }
    
    .catalog .numbers_pages .opened_page {
        border-radius: 2vw;
    }
    
    .catalog .numbers_pages .pages_arrow {
        width: 13vw;
        height: 13vw;
        font-size: 6vw;
    }
    



    /* matteo.html  */

    .main_matteo {
        padding-top: 0;
    }
    
    .main_matteo .matteo_ways {
        display: none
    }
    
    
    .product_view {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        margin-top: 2.7vw;
    }
    
    .product_view .product_img {
        position: relative;
    }
    
    .product_view .product_img .main_img {
        width: 100%;
    
    }
    
    .product_view .product_img .main_img_rect {
        display: none;
    }
    .product_view .product_img .other_img {
        display: none;
    }

    
    .product_view .product_img .arrow_1 {
        width: 12vw;
        height: 12vw;
        font-size: 7vw;
        border-radius: 0 2vw 2vw 0;
        padding: 0.5vw;
        top: 25vw;
        text-align: center;
        align-items: center;
        display: flex;
    }
    
    .product_view .product_img .arrow_2 {
        width: 12vw;
        height: 12vw;
        font-size: 7vw;
        border-radius: 0 2vw 2vw 0;
        padding: 0.5vw;
        top: 25vw;
        text-align: center;
        align-items: center;
        display: flex;
    }
    
    .product_view .product_info {
        width: 100%;
        gap: 6.6vw;
    
        padding: 8.3vw 5.5vw; 
    }
    
    .product_view .product_info h2 {
        font-size: 6.6vw;
    }
    
    .product_view .product_info .product_info_discr {
        gap: 6.6vw;
    }
    
    .product_view .product_info .discr_sectins {
        gap: 3.3vw;
        font-size: 3.8vw;
    }
    
    .product_view .product_info .discr_data {
        gap: 3.3vw;
        font-size: 3.8vw;
    }
    
    .product_view .product_info .product_info_price {
        gap: 3.3vw;
    }
    
    .product_view .product_info .product_info_price h2 {
        font-size: 6.6vw;
    }
    
    .product_view .product_info .product_info_price h3 {
        font-size: 4.4vw;
    }
    
    .product_view .product_info button {
        padding: 3.3vw 5.5vw;
        gap: 1vw;
        border-radius: 2vw;
        font-size: 4.4vw;
    }

    .product_view .product_info .product_info_favourits {
        gap: 2vw;
    }
    
    .product_view .product_info .product_info_favourits .fa-heart {
        font-size: 5vw;
    }
    
    .product_view .product_info .product_info_favourits p {
        font-size: 4.5vw;
    }
    
    .product_view .product_info .product_info_note {
        display: none;
    }
    
    
    .product_discription {
        width: 100%;
        gap: 4.4vw;
        margin-left: 0;
        padding: 1vw 5.5vw 16vw;
    
        background-color: white;
    }
    
    .product_discription h3 {
        font-size: 5vw;
    }
    
    .product_discription p {
        font-size: 3.8vw;
    }
    
    
    
    .product_appeal {
        width: 100%;
    
        margin: 0;
        padding: 16vw 5.5vw 16vw;
    
        background-color: white;
    }
    
    .product_appeal h2 {
        font-size: 6.6vw;
        margin-bottom: 11vw;
        text-align: center;
    }
    
    .product_appeal .product_appeal_main {
        display: flex;
        flex-direction: column;
        gap: 11vw;
    }
    
    .product_appeal video {
        width: 100%;
    }
    
    .product_appeal .product_appeal_subscribe h3 {
        font-size: 5vw;
        margin-bottom: 4.4vw;
    }
    
    .product_appeal .product_appeal_subscribe p {
        font-size: 3.8vw;
    }
    
    
    .product_appeal .product_appeal_subscribe .sub_input .form-group label {
        font-size: 3.8vw;
        margin-bottom: 2vw;
    }
    
    .product_appeal .product_appeal_subscribe .sub_input .form-group input, .form-group textarea {
        margin-bottom: 1%;
        width: 100%;
        padding: 0.3vw 0;
    }
    
    .product_appeal .product_appeal_subscribe .sub_input {
        display: flex;
        flex-direction: column;
        gap: 6.6vw;
    
        margin: 6.6vw 0;
    }
    
    .product_appeal .product_appeal_subscribe .sub_input input {
        font-size: 4.4vw;
    }
    
    .product_appeal .product_appeal_subscribe .sub_input input::placeholder {
        font-size: 4.4vw;
    }
    
    .product_appeal .product_appeal_subscribe .sub_input .sub_name::placeholder {
        font-size: 4.4vw;
    }
    
    
    .product_appeal .product_appeal_subscribe button {
        display: flex;
        width: 100%;
        padding: 3vw 7vw;
        gap: 4.4vw;
        border-radius: 2vw;
        font-size: 4.4vw;

        margin-bottom: 6.6vw;
    }
    
    .product_appeal .product_appeal_subscribe .sub_note {
        font-size: 3.3vw;
    }
    
    
    .product_appeal .product_appeal_networks {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    
        margin-top: 11vw;
    }
    
    .product_appeal .product_appeal_networks i {
        margin-left: 0.8vw;
    }
    
    .product_appeal .product_appeal_networks .pr_telegram:hover i {
        margin-left: 1vw;
    }
    
    .product_appeal .product_appeal_networks .pr_youtube:hover i {
        margin-left: 1vw;
    }
    
    .product_appeal .product_appeal_networks .pr_telegram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        

        width: 100%;
        gap: 4.4vw;
        height: 63vw;

        padding: 6.6vw;
    
        border-radius: 2vw;
    }
    
    .product_appeal .product_appeal_networks .pr_telegram img {
        width: 11vw;
        height: 11vw;
    }
    
    .product_appeal .product_appeal_networks .pr_youtube {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 4.4vw;
    
        width: 100%;
        height: 50vw;
        background-color: #F4F3F1;
        padding: 3.3vw 6.6vw;
    
        border-radius: 2vw;
    }
    
    .product_appeal .product_appeal_networks .pr_youtube img {
        width: 11vw;
        height: 8vw;
    }
    
    
    .product_appeal .product_appeal_networks .product_appeal_networks_text h4 {
        font-size: 4.4vw;
        font-weight: 600;
        margin-bottom: 4vw;
    }
    
    .product_appeal .product_appeal_networks .product_appeal_networks_text p {
        font-size: 3.8vw;
    }
}